*{
    border: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.nav1{
    height: 90px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.nav1 img{
    width: 150px;
    position: absolute;
    top: 17px;
    left: 12%;
}
.nav1 ul{
    float: center;
    text-align: center;
}
.nav1 ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 15px;
}
.nav1 ul li a{
    position: relative;
    color: black;
    font-size: 14px;
    padding: 5px 0px;
    margin: 5px 20px;
    text-transform: uppercase;
}
.nav1 ul li a::before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.nav1 ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.nav1 ul li .line::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .25s ease;
}
.nav1 ul li button{
    background-color: transparent;
    border: none;
}
.nav1 ul li button p{
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 0px 130px;
    margin: 0;
}
.div1 {
    position: relative;
}
.div2 h1{
    margin: 80px 0 0 0;
    position: relative;
}
.div2 h4{
    margin: 40px 0 10px 0;
    position: relative;
}
.div2 .p1{
    margin: 20px 100px 0px 100px;
    position: relative;
    font-size: 15px;
}
.div2 .p2{
    margin: 0px 100px 150px 100px;
    position: relative;
    font-size: 15px;
}
.nav2{
    padding: 50px 0 0 0 ;
    height: 300px;
    background-color: transparent;
    border-top: 1px solid black;
}
.nav2 img{
    width: 150px;
    position: absolute;
    top: 17px;
    left: 12%;
}
.nav2 ul{
    float: center;
    text-align: center;
}
.nav2 ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 15px;
}
.nav2 ul li a{
    position: relative;
    color: black;
    font-size: 14px;
    padding: 5px 0px;
    margin: 5px 20px;
    text-transform: uppercase;
}
.nav2 ul li a::before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.nav2 ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.nav2 ul li .line::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .25s ease;
}
.nav2 ul li button{
    background-color: transparent;
    border: none;
    position: relative;
    left: 60px;
    /* margin: 0 40px; */
}
.nav2 ul li button p{
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 0px 180px 0 250px;
    margin: 0;
}