*{
    border: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.nav1{
    height: 90px;
    background-color: transparent;
    border-bottom: 1px solid black;
}
.nav1 img{
    width: 150px;
    position: absolute;
    top: 17px;
    left: 12%;
}
.nav1 ul{
    float: center;
    text-align: center;
}
.nav1 ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 15px;
}
.nav1 ul li a{
    position: relative;
    color: black;
    font-size: 14px;
    padding: 5px 0px;
    margin: 5px 20px;
    text-transform: uppercase;
}
.nav1 ul li a::before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.nav1 ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.nav1 ul li .line::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .25s ease;
}
.nav1 ul li button{
    background-color: transparent;
    border: none;
}
.nav1 ul li button p{
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 0px 130px;
    margin: 0;
}
header {
    position: relative;
    top: 0;
    left: 34%;
    width: 70%;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.navbar {
    overflow:hidden;
    z-index: 1;
    background-color: black;    
    position: relative;
    height: 140px; 
    top: 0px; 
    width: 100%; 
    left: 0px;
}
.navigation ul{
    float: center;
    margin: 0px 0px;
    text-align: center;
}
.navigation ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 15px;
}
.navigation ul li a{
    position: relative;
    color: white;
    font-size: 17px;
    padding: 5px 0px;
    margin: 5px 180px 5px 20px;
    text-transform: uppercase;
}
.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    border-bottom: 4px solid;
    border-bottom-color: #fff;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s linear;
}
.navigation a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .line::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #fff;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .25s ease;
}
.types1 {
    position: relative;
    height: 1000px;
    width: 100%;
    margin: auto;
    align-items: center;
    padding-left: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 0px;
    background-color: rgb(249, 248, 248);
}
.headquote{
    font-size: 25px;
    left: 49%;
    position: relative;
}
.image1:hover{
    filter:opacity(0.6);
}
.image2:hover{
    filter:opacity(0.6);
}
.image3:hover{
    filter:opacity(0.6);
}
.image4:hover{
    filter:opacity(0.6);
}
.image5:hover{
    filter:opacity(0.6);
}
.image6:hover{
    filter:opacity(0.6);
}
.image1{
    width: 235px;
    height: 300px;
    top: 0px;
    left: 5%;
    position: relative;
    overflow: hidden;
}
.image1 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.image2{
    width: 235px;
    height: 300px;
    position: relative;
    overflow: hidden;
    left: 20%;
}
.image2 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.image3{
    width: 235px;
    height: 300px;
    position: relative;
    overflow: hidden;
    left: 35%;
}
.image3 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.image4{
    width: 235px;
    height: 300px;
    top: 100px;
    left: 5%;
    position: relative;
    overflow: hidden;
}
.image4 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.image5{
    width: 235px;
    height: 300px;
    top: 100px;
    position: relative;
    overflow: hidden;
    left: 20%;
}
.image5 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.image6{
    width: 235px;
    height: 300px;
    top: 100px;
    position: relative;
    overflow: hidden;
    left: 35%;
}
.image6 img{
    width: 235px;
    height: 300px;
    display: inline-block;
}
.sub{
    margin: 0px 0 0 0;
    background-color: black;
    height: 250px;
    width: 100%;
}
.sub .p1{
    position: relative;
    color: white;
    font-family:sans-serif;
    top: 80px;
    font-size: 20px;
    text-decoration: none;
}
.sub .p1 a{
    text-decoration: none;
}
.sub .p2{
    position: relative;
    color: white;
    font-family:sans-serif;
    top: 90px;
    font-size: 14px;
}
.nav2{
    padding: 50px 0 0 0 ;
    height: 300px;
    background-color: transparent;
    border-top: 1px solid black;
}
.nav2 img{
    width: 150px;
    position: absolute;
    top: 17px;
    left: 12%;
}
.nav2 ul{
    float: center;
    text-align: center;
}
.nav2 ul li{
    display: inline-block;
    line-height:80px;
    margin: 0 15px;
}
.nav2 ul li a{
    position: relative;
    color: black;
    font-size: 14px;
    padding: 5px 0px;
    margin: 5px 20px;
    text-transform: uppercase;
}
.nav2 ul li a::before{
    position: absolute;
    content: ' ';
    left: 0;
    bottom: -8px;
    height: 3px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
.nav2 ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
.nav2 ul li .line::after {
    content: "";
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid;
    border-bottom-color: #000;
    transform: scaleX(1);
    transform-origin: right;
    transition: width .25s ease;
}
.nav2 ul li button{
    background-color: transparent;
    border: none;
    position: relative;
    left: 60px;
    /* margin: 0 40px; */
}
.nav2 ul li button p{
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    background-color: transparent;
    text-transform: uppercase;
    border: none;
    padding: 0px 180px 0 250px;
    margin: 0;
}